node_modules
component-tracker/backend/node_modules
component-tracker/backend/upload
archivio*


# Secrets
*.env
*.env.*
.env
.env.*
.credentials
**/.env
**/.env.*
**/.credentials

# Allow custom env files
!omega-app/backend/.env.omega-backend
!omega-app/frontend/.env.omega-frontend

