node_modules
component-tracker/backend/node_modules
component-tracker/backend/upload
archivio*

# Build artifacts
omega-app/frontend/dist
omega-app/backend/upload

# Secrets
*.env
*.env.*
.env
.env.*
.credentials
**/.env
**/.env.*
**/.credentials

