node_modules
component-tracker/backend/node_modules
component-tracker/backend/upload
archivio*
# Build artifacts
dist/

# Build artifacts
**/dist/
**/build/

# Secrets
*.env
*.env.*
.env
.env.*
.credentials
**/.env
**/.env.*
**/.credentials
# ✅ permetti di includere i file .env.omega-*
!**/.env.omega-*
# ✅ permetti di includere .env.example
!.env.example

